.hsk-list {
    width: 94%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    gap: 10px;

    .search-input {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        padding: 5px 10px;
        outline: none;
        border: 1px solid #e3e3e3;
    }

    .status_hanzi,
    .status_pinyin,
    .status_mean {
        background-color: transparent;
        border: 1px solid #e3e3e3;
        border-radius: 3px;
        margin: 0 2px;
    }

    .list_hsk {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: auto;
        max-height: 80vh
    }

    .list_hsk::-webkit-scrollbar {
        display: none;
    }

    .scroll-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: transparent;
        border: 0;
        color: rgb(8, 8, 8);
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: opacity 0.3s;
    }
}